h1{
    color:purple;
    text-align: center;
}
body{
    background-color: goldenrod;
}
div{
    border: solid purple;
    border-radius: 10px;
    background-color: aqua;
    padding: 5px;
    padding-top: 0px;
    margin-top: 10px;
}
img{
    border: solid rebeccapurple;
    border-radius: 10px;
}
#rick{
   margin: 1px 1px 1px 1px;
   border-radius: 0 0 0 100px;
}
#c{
  border-radius: 100px 100px 100px 0px;
}
#anime{
    width: 200px;
    height: 200px;
}
button{
    margin: 15px 15px 15px 15px;

}