h1{
    color:purple;
    background-color: aqua;
    border: solid 3px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
body{
    background-color: goldenrod;
}
div{
    border: solid purple;
    border-radius: 10px;
    background-color: aqua;
    padding: 5px;
    padding-top: 0px;
}
img{
    border: solid rebeccapurple;
    border-radius: 10px;
}
#rick{
    padding-left: 50px;
    padding-right: 50px;
}
#c{
    border: solid 3px red;
    padding-top: 60px;
 padding-bottom: 50px;
}